.axis path, .axis line
{
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text
{
    font-family: 'Arial';
    font-size: 10px;
}

/* .tick
{
    stroke-dasharray: 1, 2;
}
 */
.viewport {
    stroke: grey;
    fill: blue;
    fill-opacity: 0.2;
}
    